<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="index.html">Game Page</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="index.html">Home Page<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="highscore.html">High Scores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Game</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="login.html">Login</a>
            </li>
        </ul>
    </div>
</nav>>
<div id='welcomediv' class="container-fluid">
    Welcome to the Game Page!
</div>
<div id="introdiv" class="container-fluid">
    <p>Create an account and login to start playing games!</p>
</div>>
<div>
    <img id="gameimage" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.lifehack.org%2Fwp-content%2Fuploads%2F2016%2F06%2F26073149%2Fmaxresdefault-1.jpg&f=1&nofb=1" class="img-fluid" alt="image of game">
    <p id="imageDesc">Click the image to start gaming!</p>
</div>




<!--<ul>-->
<!--    {{#each users as |user|}}-->
<!--        <li>{{user.firstName}}</li>-->
<!--    {{/each}}-->
<!--</ul>-->

<p>First Name</p>
<input id="firstName" />

<p>Last Name</p>
<input id="lastName" />

<p>Email</p>
<input id="email" />

<p>Password</p>
<input id="password" />

<button id = "addUser">Submit</button>

<script>
    const $addUserBtn = document.querySelector('#addUser');


    $addUserBtn.addEventListener('click', function(){
        const firstName = document.querySelector('#firstName').value.trim();
        const lastName = document.querySelector('#lastName').value.trim();
        const email = document.querySelector('#email').value.trim();
        const password = document.querySelector('#password').value.trim();
        fetch('/api/users', {
            method: 'POST',
            body: JSON.stringify({
                firstName,
                lastName,
                email,
                password,
            }),
            headers: {
                'content-Type' : 'application/json'
            },
        }).then(response => {
            console.log(response);
            if (response.ok){
                window.location.href = '/'
            } else {
                alert('FAILED');
            }
        })
    });



</script>