<ul>
    {{#each users as |user|}}
        <li>{{user.firstName}}</li>
    {{/each}}
</ul>

<p>First Name</p>
<input id="firstName" />

<p>Last Name</p>
<input id="lastName" />

<p>Email</p>
<input id="email" />

<p>Password</p>
<input id="password" />

<button id = "addUser">Submit</button>

<script>
    const $addUserBtn = document.querySelector('#addUser');


    $addUserBtn.addEventListener('click', function(){
        const firstName = document.querySelector('#firstName').value.trim();
        const lastName = document.querySelector('#lastName').value.trim();
        const email = document.querySelector('#email').value.trim();
        const password = document.querySelector('#password').value.trim();
        fetch('/api/users', {
            method: 'POST',
            body: JSON.stringify({
                firstName,
                lastName,
                email,
                password,
            }),
            headers: {
                'content-Type' : 'application/json'
            },
        }).then(response => {
            console.log(response);
            if (response.ok){
                window.location.href = '/'
            } else {
                alert('FAILED');
            }
        })
    });



</script>